# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js
.npm_cache/


# testing
/coverage
src/__tests__
__mocks__
/test
# ignore all test files wherever they live
**/__tests__/
*.test.js
*.test.jsx
*.spec.js
*.spec.jsx


# production
/build
/backup_builds
.env
out
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#debug log
debug.log*
build.zip
build.rar
nginx.conf

#configs
jest.config.js
.babelrc

CNAME

